* {

  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;

}

a, a:visited {
  
}

.App {
 
}


/* header comp */

.Header {
  padding: 20px;
  background-image: url("1280wall.jpg");
  

}

.Header div {
  display: inline-block;
}

.Logo {
  margin-left: 43%;
  text-align: center;
  color: white;
  
}

.AuthLinks {

  float: right;
}

.AuthLinks a {
  padding: 10px;
  margin: 10px;
  
}

.AuthLinks a:visited {
  color: white;
}



/* the wall */
.TheWall {
  margin-top: 20px;
  text-align: center;
  float: left;
  width: 100%;
  background-image: url("1280wall.jpg");
}


/* Messages listing */
.Messages {
  background-color: rgba(0, 0, 0, 0.582);
  color: yellow;
}

.Messages a, a:visited {
  color: yellow;
}



