* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
}

body {
  background-color: #000000;
}


/* --- header comp --- */
#Header {
  text-align: center;
  background: #000000;
  /* background-image: url("./images/wallforwidth.jpg"); */
  /* background-image: radial-gradient(rgba(128, 128, 128, 0), black); */
  background-repeat: no-repeat;
  background-position: center;

}

#Header div {
  display: inline-block;  /* line up header items */
}

#Logo {
  font-size: 20vmin;
  background-image: url("./images/wallforwidth.jpg");
  background-size: cover;
  color: #000000;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#AuthLinks {
  font-size: 30px;
}

#AuthLinks a {
  padding-left: 10px;
  margin-left: 10px;
}

#AuthLinks a:visited {
  color: white;
}

#AuthLinks a:hover {
  color: #00a8f7;
}


/* --- modal --- */
.modal {
  z-index: 1; /* Sit on top */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.705); /* Black w/ opacity */
  padding: 30px;
  font-size: 30px;
  color: white;

}

.modal label {
  float: left;
}

.modal input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  
}

/* --- modal button needs --- */
.modal input[type=submit] {
  width: 100%;
  margin: 8px 0;

}

/* --- Logout Button specifics --- */
#Logout input[type=submit] {
  margin-left: 50px;
  background-color: #0a92ec;
}

#Logout input[type=submit]:hover {
  background-color: #4a83a8
}

/* --- the wall --- */
.TheWall {
  width: 100%;
  background-image: url("./images/grunge-wall-1183561.jpg");
}



/* --- Messages listing --- */
.Messages {
  color: yellow;
  font-size: 20px;
  margin-bottom: 150px;
  overflow: scroll;
  text-align: center;
  left: 0;
}

.Messages a, a:visited {
  color: yellow;
}


/* create message comp */
#CreateMessage {
  background-color: #32303d;
  font-size: 30px;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  
}

/* --- create message button specifics */
#CreateMessage > div > form > button {
  padding: 7px 10px;
  margin: 5px 0;
  font-size: 20px;
 
}


/* --- buttons, general --- */
.button {
  background-color: #5292bd;
  cursor: pointer;
  color: white;
  padding: 14px 20px;
  font-size: 30px;
  border-radius: 4px;
  border: none;
  
}

.button:hover {
  background-color: #4a83a8
}










